<link rel="stylesheet" href="recompense-contributeur.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>

<h1>CollabDev</h1>
<h2><i class="fa fa-trophy" aria-hidden="true"></i>  Mes Récompenses</h2>
<p> Vos badges, niveaux et réalisations sur CollabDev</p>

 <div class="recompense-container">
  <div class="niveau">
    <i class="fa fa-chart-line" aria-hidden="true"></i>
    <h3>Niveau 4</h3>
    <p>Développeur Confirmé</p>
    <div class="bar-container">
      <div class="bar" style="width: 65%;"></div>
    </div>
    <p>2,450/3,800 XP</p>
  </div>
 

 <div class="points">
    <i class="fa fa-bolt" aria-hidden="true"></i>
    <p>1,850</p>
    <p>Points Collab</p>
  </div>


   <div class="badge">
    <i class="fa fa-medal" aria-hidden="true"></i>
    <p>8</p>
    <p>Badges obtenus</p>
  </div>
</div>


<div class="historique">
  <div class="historique-header">
    <h3><i class="fa fa-history" aria-hidden="true"></i>Historique des Récompenses</h3>
    <button class="export-btn">
      <i class="fa fa-download" aria-hidden="true"></i> Exporter
    </button>
  </div>

  <div class="recompense-item">
    <div>
      <p class="recompense-points">+120 XP</p>
      <p>Contribution validée sur TaskFlow</p>
      <p class="recompense-date">15/06/2023</p>
    </div>
  </div>

  <div class="recompense-item">
    <div>
      <p class="recompense-points">+40 Points Collab</p>
      <p>Revue de code sur Appli Recettes</p>
      <p class="recompense-date">15/06/2023</p>
    </div>
  </div>

  <div class="recompense-item">
    <div>
      <p>Badge "Expert Code"</p>
      <p>50 contributions validées</p>
      <p class="recompense-date">10/06/2023</p>
    </div>
  </div>
</div>

</div>
