.popup-comments {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Fond sombre semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  scroll-behavior: smooth;
}

.popup-content::-webkit-scrollbar {
  width: 6px;
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}


.popup-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color: #7f51eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-card {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}

.comment-body {
  font-size: 14px;
  line-height: 1.4;
}
